<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <style>
        body{
        background-color:#FAFAFA;
        font-family: 'Nunito', sans-serif;
        padding-top:50px;
        }
        h1,h2,h3,h4,h5,h6{
        font-family: 'Raleway', sans-serif;
        }
        a,p{
        color:#4b5156;
        }
        .container{
        max-width:550px;
        margin:auto;
        background-color:#fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding:20x;
        }
    </style>
</head>
<body>
<div class="container">
    {% block content%}
    {% endblock content%}
</div>
</body>
</html>